body{
    text-align: center;
    background-color: gray;
}

.container{
    background-color:darkgray;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 325px;
    margin: auto;
    text-align: left;
}
.error{
    color: #FF0000;
}